<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=ESCOBAR\SQLEXPRESS;Initial Catalog=Sistema_VentaDB;Integrated Security=True" name="cadena_conexion" providerName="System.Data.SqlClient"	
			 />
	</connectionStrings>
</configuration>